@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jockey One", sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
}

body {
  height: 100%;
  width: 100%;
}
body main {
  background-image: url("back.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding-left: 7.5%;
  padding-top: 10%;
  overflow: hidden;
  position: relative;
  perspective: 15px;
}
body main .widget, body main .items {
  position: absolute;
}
body main .cards {
  width: 72%;
  height: 96%;
  background: #ffffff94;
  border-radius: 10px;
  margin-left: -500px;
  transform: rotateX(0deg) rotateY(3deg);
  animation: card 1.8s;
  transform-style: preserve-3d;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes card {
  0% {
    transform: rotateX(0deg) rotateY(3deg);
    margin-left: -500px;
  }
  100% {
    margin-left: 0px;
    transform: rotateX(0deg) rotateY(0deg);
  }
}
body main .cards .info1 {
  color: black;
  font-size: 19px;
  padding-top: 1px;
}
body main .cards .info1 h2 {
  margin: 0 5%;
  margin-top: -20px;
}
body main .cards .info1 .aliance-box, body main .cards .info1 .masters-box, body main .cards .info1 .body-box {
  min-height: 110px;
  background-color: #ffffff;
  margin: 12px 4%;
  padding: 12px;
}
body main .cards .info1 .home-box {
  background-image: url("place.png");
  background-size: cover;
  height: 100px;
  padding: 12px;
  border-radius: 0px;
}
body main .cards .info1 .race-box {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body main .cards .info1 .body-box > div {
  display: flex;
  flex: row;
  justify-content: space-evenly;
}
body main .cards .info1 .body-box > div .spin {
  font-family: "Nunito", sans-serif;
  background-image: url("ico1.png");
  justify-content: center;
  background-size: cover;
  align-content: center;
  padding-top: 14px;
  font-size: 16px;
  display: flex;
  height: 50px;
  width: 50px;
  animation: rotating 2s;
  animation-iteration-count: 1;
  animation-direction: linear;
  animation-delay: 3s;
}
@keyframes rotating {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body main .cards .info1 .body-box > div .spin p {
  transform-origin: 50% 30%;
  animation-iteration-count: 3;
  animation-direction: linear;
  animation: stablish 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes stablish {
  0% {
    color: #ffffff;
    transform: rotate(0deg);
  }
  25% {
    color: #ff0000;
  }
  40% {
    color: #ffffff;
  }
  60% {
    color: #c20000;
  }
  65% {
    color: #ff5151;
  }
  90% {
    color: #c20000;
  }
  100% {
    color: #ff0000;
    transform: rotate(360deg);
  }
}
body main .cards .info1 .aliance-box {
  z-index: 3;
}
body main .cards .info1 .masters-box {
  z-index: 2;
}
body main .cards .info1 .aliance-box, body main .cards .info1 .masters-box {
  transition: margin-bottom 0.8s;
  position: relative;
  animation-duration: 0.8s;
  animation-direction: linear;
  border-color: red;
}
@keyframes blaser {
  0% {
    border-color: #c20000;
  }
  25% {
    border-color: #ff0000;
  }
  40% {
    border-color: #ff0000;
  }
  60% {
    border-color: #c20000;
  }
  65% {
    border-color: #ffaeae;
  }
  90% {
    border-color: #c20000;
  }
  100% {
    border-color: #ff0000;
  }
}
body main .cards .info1 .aliance-box .wrap-list ul, body main .cards .info1 .masters-box .wrap-list ul {
  transition: height 0.6s;
  overflow: hidden;
  height: 50px;
}
body main .cards .info1 .aliance-box .wrap-list ul li, body main .cards .info1 .masters-box .wrap-list ul li {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
}
body main .cards .info1 .aliance-box .wrap-list .arrow, body main .cards .info1 .masters-box .wrap-list .arrow {
  width: 0;
  height: 0;
  border-radius: 5px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f00;
  background-color: none;
  background: none;
  display: block;
  margin: auto;
  outline: 0;
  transition: transform 0.8s;
}
body main .widget {
  box-shadow: -4px -3px 5px -1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -4px -3px 5px -1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -4px -3px 5px -1px rgba(0, 0, 0, 0.33);
  height: 20%;
  width: 40%;
  background: red;
  bottom: -133px;
  right: 0;
  border-radius: 100% 0 0 0;
  z-index: 3;
  background-image: url("1.png");
  background-size: cover;
  animation: pushup 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes pushup {
  0% {
    bottom: -133px;
  }
  100% {
    bottom: 0;
  }
}
body main .widget::after {
  position: absolute;
  content: "";
  height: 200%;
  width: 200%;
  background: #00379b;
  background: radial-gradient(circle, rgba(0, 55, 155, 0.6914153132) 18%, rgba(4, 57, 222, 0.3851508121) 81%, rgba(46, 0, 3, 0.7610208817) 96%);
  bottom: -100%;
  right: -100%;
  border-radius: 100%;
  z-index: 2;
  animation: effect 1s;
  animation-iteration-count: infinite;
}
body main .items {
  width: 25%;
  height: 83%;
  right: 0;
  top: 0;
  overflow: scroll;
}
body main .items ul {
  width: 100%;
}
body main .items li {
  box-shadow: -4px -3px 5px -1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: -4px -3px 5px -1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: -4px -3px 5px -1px rgba(0, 0, 0, 0.33);
  opacity: 0;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  list-style: none;
  margin-left: 10px;
  height: 70px;
  width: 100%;
  transition: margin-left 0.5s, height 0.3s, width 0.3s, opacity 0.3s;
}
body main .items li:hover {
  margin-left: 0px !important;
  height: 90px;
  width: 108%;
}
body main .items li:nth-child(odd) {
  background-image: url(1.png);
  background-size: cover;
}
body main .items li:nth-child(even) {
  background-image: url(2.png);
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */
